<!DOCTYPE html>
<html lang="fr">
<head>
<link rel="stylesheet" href="public/css/app.css?v=1">

    <meta charset="UTF-8">
    <title>{% block title %}Coding Blog{% endblock %}</title>
</head>
<body>
    {% include 'templates/partials/header.html.twig' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'templates/partials/footer.html.twig' %}
</body>
</html>
