{% extends "templates/layouts/base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% include 'templates/partials/_flashes.html.twig' with { flashes: flashes } %}

<section>
    <h2>Informations du compte</h2>

    <dl>
        <dt>Nom d’utilisateur</dt>
        <dd>{{ account.username }}</dd>

        <dt>Adresse e-mail</dt>
        <dd>{{ account.email }}</dd>

        <dt>Authentification 2FA par e-mail</dt>
        <dd>
            {% if account.email_2fa_enabled %}
                Activée
            {% else %}
                Désactivée
            {% endif %}
        </dd>
    </dl>
</section>
{% endblock %}